In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("personas.xlsx")

In [3]:
# Replace '<20' with '18-20' in the age column
df['age'] = df['age'].replace('<20', '18-20')

In [4]:
ethnicity_map = {
    "INBPN": "born in Netherlands, both parents born in Netherlands",
    "INOPA": "born in Netherlands, one parent born abroad",
    "INBPA": "born in Netherlands, both parents born abroad",
    "ONBPA": "born abroad, both parents born abroad",
    "ONOPA": "born abroad, one parent born abroad",
    "ONBPN": "born abroad, both parents born in Netherlands"
}

# First, replace abbreviations in the ethnicity column
df["ethnicity"] = df["ethnicity"].replace(ethnicity_map)

# Then, recreate the 'promt' column with the full ethnicity description
df["promt"] = df.apply(
    lambda row: f"You are a {row['age']} year-old {row['gender']} who have received {row['education']} education and you are {row['ethnicity']}.",
    axis=1
)

In [5]:
df.head()

,ID,researcher,age,gender,ethnicity,education,promt
0,1,Fleur,20-40,male,"born in Netherlands, both parents born in Neth...",high,You are a 20-40 year-old male who have receive...
1,2,Fleur,20-40,male,"born abroad, both parents born abroad",high,You are a 20-40 year-old male who have receive...
2,3,Fleur,20-40,male,"born in Netherlands, both parents born in Neth...",high,You are a 20-40 year-old male who have receive...
3,4,Fleur,20-40,female,"born in Netherlands, both parents born in Neth...",primary,You are a 20-40 year-old female who have recei...
4,5,Fleur,20-40,male,"born abroad, both parents born abroad",high,You are a 20-40 year-old male who have receive...

In [6]:
df.to_excel("prompts.xlsx")